{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "css/bootstrap-material-datetimepicker.css" %}">
{% endblock %}

{% block title %}Resumen{% endblock %}

{% block content %}
<h4>Resumen de envíos procesados</h4>
<br>
<div class="row">
	<div class="col-sx-12 col-sm-12 col-md-2 col-lg-2">
		<div class="form-group form-group-material-green has-feedback">
			<label class="control-label">Desde</label>
			<input class="form-control" type="text" name="date_from" id="date_from">
			<span class="mdi-action-today form-control-feedback" aria-hidden="true"></span>
		</div>

		<div class="form-group form-group-material-green has-feedback">
			<label class="control-label">Hasta</label>
			<input class="form-control" type="text" name="date_to" id="date_to">
			<span class="mdi-action-today form-control-feedback" aria-hidden="true"></span>
		</div>

		<div class="form-group form-group-material-green">
			<label class="control-label">Empresa</label>
			<select name="empresas" id="empresas" class="form-control">
				{% for empresa in empresas %}
					<option value="{{ empresa.rut }}">{{ empresa.empresa }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group" align="right">
			<button class="btn btn-fab btn-raised btn-material-green mdi-action-search" id="run_search"></button>
		</div>
	</div>
	<div class="col-sx-12 col-sm-12 col-md-10 col-lg-10">
		<div id="datos_resumen" style="font-size: 20px;">
			Sin datos.
		</div>
	</div>
</div>


<!-- MODAL CARGANDO -->
<div class="modal" id="loadingModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeLoadingModal" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Buscando...</h4>
            </div>
            <div class="modal-body">
                <p>por favor espere unos segundos</p>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	<script src="{% static "js/bootstrap-material-datetimepicker.js" %}"></script>
	<script src="{% static "js/resumen/index.min.js" %}"></script>
{% endblock %}