.DS_Store
.idea
*py[cod]
*.py[cod]
app/*py[cod]
autenticacion/*py[cod]
autenticacion/migrations/*py[cod]
configuraciones/*py[cod]
configuraciones/migrations/*py[cod]
customsearch/*py[cod]
customsearch/migrations/*py[cod]
dashboard/*py[cod]
dashboard/migrations/*py[cod]
emails/*py[cod]
emails/migrations/*py[cod]
empresas/*py[cod]
empresas/migrations/*py[cod]
logs/*
perfiles/*py[cod]
perfiles/migrations/*py[cod]
reports/*py[cod]
reports/migrations/*py[cod]
resumen/*py[cod]
resumen/migrations/*py[cod]
tipodocumentos/*py[cod]
tipodocumentos/migrations/*py[cod]
utils/*py[cod]
utils/ws_middleware/*py[cod]
webhooks/*py[cod]
webhooks/migrations/*py[cod]
